/*******************
 * dv-template v0.2
 * 2015, devvoh.com, https://github.com/devvoh/dv-template
 *
 * common.css is for your site-specific styles
 */

body {
    padding: 1em;
}

header, nav {
    border: 1px solid;
    margin-bottom: 0.5rem;
}
header {
    padding: 0.25em 0.5em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.active {
    outline: 1px solid;
}

/* every grid-column deserves some padding */
[class*='dv-grid-column-'] {
    padding: 0.25em 0.5em;
}
 
/* forum styling */
.dvbb-category-container {
    margin-bottom: 0.5rem;
}
.dvbb-category-title {
    border: 1px solid;
    display: block;
    line-height: 1em;
    padding: 0.5em;
}
.dvbb-legend {
    border: 1px solid;
    font-size: 0.8em;
}
.dvbb-forum {
    border: 1px solid;
}
