/*******************
 * dv-template v0.2
 * 2015, devvoh.com, https://github.com/devvoh/dv-template
 *
 * common.css is for your site-specific styles
 */
 
@media screen and (min-width: 1000px) {
    
    /* handily, all classes ending in -right are by default text-aligned right */
    .dvbb-navigation-top-right,
    .dvbb-navigation-bottom-right,
    .dvbb-subnavigation-right,
    .dvbb-post-actions-right {
        text-align: right;
    }
    
    .dvbb-admin-category-links,
    .dvbb-admin-category-forum-links {
        display: block;
        float: right;
    }
    
}
@media screen and (max-width: 999px) {
    
}

/* basic style overwrites */
p {
    margin: 0 0 1rem 0;
}

/* completely size-agnostic styles */
.dvbb-quote,
.dvbb-code {
    border: 1px solid;
}
.dvbb-admin-category-forum {
    clear: both;
}
.dvbb-admin-forums-sort {
    width: 2rem;
}